{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ post.body }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ post.user.name }}</td>
            </tr>
            <tr>
                <th>Categories</th>
                <td>
                    {% for category in post.categories %}
                        <span class="badge badge-primary">{{ category.name }}</span>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('post_index') }}">Back to list</a>

    {% if is_granted('edit', post) %}
        <a class="btn btn-primary ml-4" href="{{ path('post_edit', {'id': post.id}) }}">Edit</a>
    {% endif %}
{% endblock %}
